* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  position: absolute;
  display: inline;
  text-align: center;
}

body {
  background-color: #eeeeee;
  font-family: 'Times New Roman', Times,;
  border-top: 10em;
  border-bottom: 40em;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
}

#nav-bar ul li {
  padding: 15px;
  font-size: 1.1em;

}

a {
  text-decoration: none;
  color: #00004d;
}

#header-img {
  width: 330px;
}
.container{
  margin-top: 100px;
}

# hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
section { 
  display: block;
}

.footer {
  display: inline;
}